<% content_for :title, "Problem: edit" %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "primary", "problem_create" %>
<% end %>
<% content_for :javascripts do %>
  <script type="text/javascript">
    tests = <%= @tests.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag "problem_create" %>
<% end %>

<%= render "shared/header" %>

<main>
  <h1>Editing problem</h1>

  <%= render "form", problem: @problem %>

  <br>

  <div>
    <%= link_to "Show this problem", @problem, data: {'turbo' => false} %> |
    <%= link_to "Back to problems", problems_path, data: {'turbo' => false} %>
  </div>
</main>
